repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-ast
    -   id: check-json
    -   id: check-toml
    -   id: check-yaml
    -   id: name-tests-test
        args: [--pytest-test-first]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.10.2
  hooks:
    - id: uv-lock
    - id: uv-export
      args: ["--output-file=requirements.txt", "--quiet"]

-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.15.0
    hooks:
    # Run the linter.
    -   id: ruff-check
    # Run the formatter.
    -   id: ruff-format