name: CI for URL shortener API

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.10.2"

      - name: Create .env file
        run: |
          echo 'ENV_NAME="Development"' > .env
          echo 'BASE_URL="http://127.0.0.1:8000"' >> .env
          echo 'DB_URL="sqlite:///./shortener.db"' >> .env

      - name: Install dependencies
        run: uv sync --locked --all-extras --dev